.play-music {
    background-color: #0F172A !important;
    height: 6rem;
}
.rhap_time, .rhap_currnet-time {
    color: white !important;
}
::selection {
    background-color: transparent;
    color: turquoise
}